{% extends "user_authorization/base.html" %}
{% load static %}

{% block content %}
<div class="shadow-wrap">
        <div class="form-wrap">
        <h2>Change Password</h2>
        <form id="change-password-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="new_password">Enter Password</label>
                <input type="password" id="new_password" name="new_password" placeholder="Enter new password" required>
            </div>

            <div class="form-group">
                <label for="confirm_password">Re-enter password</label>
                <input type="text" id="confirm_password" name="confirm_password" placeholder="Re-enter password" required>
            </div>
        </div>
            <div class="button-group">
                <button type="submit" class="submit-btn-reset" id="change-pass-btn" name="save">Save</button>
            </div>
        </form>
        <div id="message"></div>
</div>

<script src="{% static 'user_authorization/js/change_password.js' %}"></script>
{% endblock content %}
