{% extends "user_authorization/base.html" %}
{% load static %}

{% block content %}
<div class="shadow-wrap">
        <div class="form-wrap">
        <h2>Forgot Password</h2>
        <form id="forgot-password-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" placeholder="{{ email|default:'Enter your email' }}" required class="{% if error %}shake{% endif %}">
                <span id="email-status" class="status-icon"></span>
            </div>

            <div class="form-group">
                <label for="otp">Enter OTP</label>
                <input type="text" id="otp" name="otp" placeholder="Enter OTP">
            </div>
        </div>
            <div class="button-group">
                <button type="submit" class="submit-btn-reset" id="send-otp-btn" name="send">Send OTP</button>
                <button type="submit" class="submit-btn-reset" id="verify-btn" name="verify" style="display: none;">Verify OTP</button>
            </div>
        </form>
        <div id="message"></div>
</div>

<script src="{% static 'user_authorization/js/password_reset.js' %}"></script>
{% endblock content %}
