{% extends "user_authorization/base.html" %}
{% load static %}
{% block content %}
<div class="shadow-wrap">
  <div class="form-wrap">
    <h3>Signup</h3>
    <form id="signup-form">
      {% csrf_token %}
      <label for="username" id="user-label">Username:</label>
      <input type="text" id="username" name="username" required><br>

      <div class="verify-by-side">
        <div class="verify-group1">
      <label for="email" id="email-label">Email:</label>
      <input type="email" id="email" name="email" required><br>
        </div>
        <div class="verify-group2">
      <button type="submit" id="send-btn">send_otp</button>
        </div>
      </div>
      <label for="password" id="pass-label">Password:</label>
      <input type="password" id="password" name="password" autocomplete="current-password" required><br>

      <div class="side-by-side">
        <div class="form-group">
          <label for="gender" id="gender-label">Gender:</label>
          <select name="gender" id="gender" required>
            <option value="" disabled selected>Select your gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
        </div>

        <div class="form-group">
          <label for="dept" id="dept-label">Department:</label>
          <select name="department" id="dept" required>
            <option value="" disabled selected>Select your department</option>
            <option value="ai&ds">AI & DS</option>
            <option value="bio-tech">Bio-Tech</option>
            <option value="cse">CSE</option>
            <option value="cs&it">CS & IT</option>
            <option value="mech">Mechanical</option>
            <option value="civil">Civil</option>
          </select>
        </div>
      </div>

      <label for="current_year" id="year-label">Current Year in B.Tech:</label>
      <input type="number" name="current_year" id="year" required><br>

      <button type="submit" id="signup-btn">Signup</button>
    </form>

    <p>You know us before? <a class="signup-link" href="{% url 'login' %}">Login here</a></p>
  </div>
</div>

<script src="{% static 'user_authorization/js/signup.js' %}"></script>
{% endblock content %}