<!-- explore/templates/header_footer.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeSwap</title>
    <link rel="stylesheet" href="{% static 'explore/css/style.css' %}"><!-- Add any CSS styling here -->
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="container">
            <h1><a href="{% url 'home' %}">WeSwap</a></h1>
            <div class="auth-links">
                {% if user.is_authenticated %}
                    <!-- Show Profile and Sign Out for authenticated users -->
                    <a href="{% url 'profile' %}">Profile</a> |

                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                {% else %}
                    <!-- Show Login and Sign Up for guests -->
                    <a href="{% url 'login' %}">Login </a>  |
                    <a href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </header>

    {% block content %}
    <!-- Content will go here in the child templates -->
    {% endblock content %}

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2024 WeSwap. All rights reserved.</p>
    </footer>
</body>
</html>
