<!-- explore/templates/header_footer.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeSwap</title>
    <link rel="stylesheet" href="{% static 'explore/css/style.css' %}"><!-- Add any CSS styling here -->
    <link rel="icon" type="image/png" href="{% static 'explore/img/sLogo.png' %}">

</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="container">
            <a href="{% url 'home' %}">
                <img src="{% static 'explore/img/weSwapLogo.png' %}" alt="WeSwap Logo" class="logo">
            </a>

            <div class="auth-links">
                {% if user.is_authenticated %}
                    <!-- Show Profile and Sign Out for authenticated users -->
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button class = "button neon" type="submit">Logout</button>
                        </form>
                    <a href="{% url 'profile' %}" class = "button neon">Profile</a>
                {% else %}
                    <!-- Show Login and Sign Up for guests -->
                    <a href="{% url 'login' %}" class = "button neon">Login </a>
                    <a href="{% url 'signup' %}" class = "button neon">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </header>

    <main class="main-content">
        {% block content %}
        <!-- Content will go here in the child templates -->
        {% endblock content %}
    </main>

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2024 WeSwap. All rights reserved.</p>
    </footer>
</body>
</html>
